.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 20px;
  padding: 10px;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: var(--product-bg-color);
  justify-content: top;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadows-color);
  padding: 15px;
  transition: transform 0.2s ease;
  height: 100%;
  text-decoration: none; 
  color: inherit;
  box-sizing: border-box;
}

.product:hover {
  transform: scale(1.02);
}

.product h2 {
  margin-top: 0;
  font-size: 20px;
}

.product p {
  margin: 8px 0;
  color: var(--product-text-color);
}

p.sell {
  font-weight: bold;
  color: var(--sell-color); 
}

p.buy {
  font-weight: bold;
  color: var(--buy-color); 
}

.product img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  object-fit: cover;
  align-self: center;
  background-color: #f0f0f0;
}

.noProducts {
  display: flex;
  justify-content: center;
}