:root {
  --bg-color: #f8f9fa;
  --product-bg-color: white;
  --main-brand-color: #ddce2e;
  --main-brand-color-light: #ddce2e7a;
  --border-color: #ddd;
  --shadows-color: rgba(0, 0, 0, 0.05);
  --product-text-color: #555;
  --buy-color: #3540dc;
  --sell-color: #28a745;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@font-face {
  font-family: SourGummy;
  src: url(./utils/fonts/SourGummy-VariableFont_wdth,wght.ttf);
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

.hidden {
  display: none;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 4px solid var(--main-brand-color-light);
  z-index: 100;
}




.logo {
  color: var(--main-brand-color);
  align-items: center;
  text-decoration: none;
  display: flex;
  font-family: SourGummy;
  height: 60px;
  margin: 0;
}

.logo img {
  width: 80px;
  height: 100%;
  object-fit: contain;
}

.userName{
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  text-decoration: none;
  padding: 0.7rem;
  display: inline-block;
  border-radius: 30px;
  border: 1px solid var(--main-brand-color);
  margin: auto;
}


.button {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--main-brand-color);
  text-decoration: none;
  padding: 0.7rem;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid var(--main-brand-color);
  margin: auto;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px var(--shadows-color);
}


@media screen and (hover : hover) {
  .button {
      cursor: pointer;
  }
  .button:hover {
      background-color: var(--main-brand-color-light);
  }
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

form {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  gap: 1rem;
  box-shadow: 0 4px 8px var(--shadows-color);
}

form label {
  font-weight: bold;
  color: var(--main-text-color);
  margin-bottom: 0.5rem;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form input[type="number"],
textarea,
fieldset {
  padding: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--input-bg-color);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

legend{
  font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.buttons-container .button,
.buttons-container .submit {
  flex: 1;
  text-align: center;
  max-width: 90px;
}